In [5]:
import numpy as np 
import pandas as pd
import sqlalchemy as sal

In [6]:
df = pd.read_csv('5k_borrowers_data.csv', encoding= 'unicode_escape')

In [7]:
df.shape

(5000, 21)

In [8]:
df.head()

,Name,Date of Birth,Gender,Marital Status,Phone Number,Email Address,Mailing Address,Language Preference,Geographical Location,Credit Score,...,Loan Amount,Loan Term,Interest Rate,Loan Purpose,EMI,IP Address,Geolocation,Repayment History,Days Left to Pay Current EMI,Delayed Payment
0,Khushi Balan,19-02-1986,Male,Single,2169182416,xbhakta@example.com,"29/74, Mander, Kulti 156906",Marathi,Danapur,491,...,34398,15,0.16,Medical Emergency,2545.36,10.65.217.95,"-49.3275015, 58.067192","[{'Payment Date': datetime.date(2023, 5, 3), '...",2,No
1,Umang Chatterjee,13-08-1980,Male,Married,4521712306,ivaidya@example.org,73/885\nSharma Marg\nSolapur 386449,Malayalam,Bangalore,325,...,96856,9,0.20,Home Renovation,11678.35,192.168.179.132,"14.951437, -136.491335","[{'Payment Date': datetime.date(2023, 5, 1), '...",4,Yes
2,Adira Dara,05-08-1995,Female,Widowed,4615155004,loyalvihaan@example.net,H.No. 468\nRaval Zila\nNanded 490253,Malayalam,Bijapur,624,...,91301,10,0.16,Home Renovation,9812.94,10.166.34.134,"64.013123, 175.275587","[{'Payment Date': datetime.date(2023, 5, 7), '...",7,No
3,Anvi Saini,16-11-2001,Male,Married,914836846677,tgaba@example.org,"04/25, Mandal Path, Guntakal 305639",Gujarati,Korba,346,...,78981,14,0.28,Education Fees,6678.01,10.107.161.197,"-11.6130395, 37.595772","[{'Payment Date': datetime.date(2023, 5, 10), ...",7,Yes
4,Kartik Kade,09-07-1979,Male,Widowed,910186397558,sanakaur@example.net,"55/13, Srivastava Path\nRaipur-801775",Malayalam,Jorhat,321,...,89953,1,0.29,Wedding Expenses,92126.86,192.168.255.28,"-71.7186905, 49.352990",[],11,No

In [9]:
engine = sal.create_engine('postgresql://postgres:password@localhost:5432/analysis_queries')
conn=engine.connect()

In [11]:
df.to_sql('borrowers', con=conn , index=False, if_exists = 'replace')

1000

In [12]:
conn.close()